<div style="display:flex; flex-direction: row">
    <div style="flex: 2">
        <book-list (onSelectBook)="bookSelected($event)"></book-list>
    </div>
    <div style="flex: 1">
        <h1> Books Count </h1>
        <p style="font-size: 40px"> {{bookCount}} </p>
    </div>

    <!-- <div style="display:flex; flex-direction: row">
        <div style="background-color: black; width: 100px; height: 100px"> </div>
        <div style="background-color: yellow; width: 100px; height: 100px"> </div>
    </div> -->
</div>
